.product-item img {
    max-width: 400px;
    height: auto;
}
.product-item a {
    text-decoration: none;
    color: black;
}

.product-item .add-to-favorites:hover {
    cursor: pointer;
    text-decoration: none;
}